.exercisesList-container {
   margin: 0 0.75em;
}
@media screen and (min-width: 35em) {
   .exercisesList-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   }
}
.exercise {
   display: grid;
   padding: 1.5em 0;
   grid-template-columns: 2fr, 1fr;
   grid-auto-rows: min-content;
   border-bottom: 1px solid var(--color-greyish-blue);
   font-weight: 500;
   gap: 0.5em 0.75em;
   align-content: center;
}

.exercise-gif {
   grid-row: 3;
}

.exercise-name {
   grid-row: 1;
   align-self: center;
}

.chip-container {
   grid-row: 2;
   text-align: center;
   display: flex;
   gap: 0.5em;
}
.chip {
   font-size: 12px;
   color: var(--color-greyish-blue);
   border: 1px solid var(--color-greyish-blue);
   padding: 0.25em 0.75em;
   min-width: 15%;
   border-radius: 50px;
   font-weight: 400;
}

.exercise-button {
   padding: 1em;
   justify-self: end;
   align-self: center;
   font-weight: 900;
   grid-row: 1;
   background-color: transparent;
   border: none;
}
.exercise-button:hover,
.exercise-button:focus {
   opacity: 0.5;
}

@media screen and (min-width: 38em) {
   .exercisesList-container {
      grid-column: 2 / span 2;
   }
}
